/* 
    Highlighter: Pebble-safe Dark
    Colourblind-friendly.
    https://github.com/DesiQuintans/Pebble-safe

    These colours are based on my Pebble-safe colourblind editor theme.
*/

pre.sourceCode {
    background-color: #2D2D2D !important;
    color: #FCFCFC !important;
}

span.fu {color: #FFE119 !important;}  /*  fu = Names of functions                        */
span.at {color: #FCFCFC !important;}  /*  at = Function arguments                        */
span.cf {color: #FFE119 !important;}  /*  cf = function, if, else, and so on.            */
span.cn {color: #E6BEFF !important;}  /*  cn = TRUE, FALSE, NA, and so on.               */
span.co {color: #E7298A !important;}  /*  co = Comments, including all Roxygen text.     */
span.dv {color: #E6BEFF !important;}  /*  dv = Integers                                  */
span.fl {color: #E6BEFF !important;}  /*  fl = Floating point numbers                    */
span.ot {color: #FCFCFC !important;}  /*  ot = Assignment operators = and <-             */
span.sc {color: #FCFCFC !important;}  /*  sc = Other operators (==, %in%, ::, and so on) */
span.st {color: #E6BEFF !important;}  /*  st = Character string                          */