/* Replace fonts in United template with my own. */
/* Variable font */
body {
    font-family:"Atkinson Hyperlegible","Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family:"Atkinson Hyperlegible","Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #DD4814;
    margin-top: 1em;
}

.tooltip{font-family:"Atkinson Hyperlegible","Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.popover{font-family:"Atkinson Hyperlegible","Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;}

/* Monospace font */

code, kbd, pre, samp {
    font-family: "Fira Code", "Hack", "Consolas", monospace;
    font-size: 15px;
}

/* Title and author block */
h1.title {
    font-size: 50px;
}

.author, .date {
    font-size: 25px;
    color: black;
}

.date {
    margin-top: 0em;
    font-size: 20px;
    color: black;
}

/* Style H1s to be more visually prominent */

h1:not(.title) {
    margin-top: 2em;
    padding: 0.25em 0em;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}